.first{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding-top: 10px;
    padding-left: 250px;
    padding-right: 250px;
    margin: 0cm;
    border: 0cm;
    
    
}
.one{
    display: flex;
    justify-content: space-evenly;
    gap: 300px;

}
.Item{
    display: flex;
    flex-direction: row;
    
}

.ek{
    color: #f9faf8;
    font-size: 24px;
}
.Item{
    color: #e5e7eb;
    font-size: 18px;
    gap: 20px;
}

.two{
    display: flex;
   justify-content: space-evenly;
    padding-top: 75px;
    padding-bottom: 75px;
    gap: 100px;
}
.lone{
    display: flex;
    gap: 10px;
    flex-direction: column;
    gap: 5px;

}
.do{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800 ;
    width: 300px;
}
.teen{
    font-size: 18px;
    color: #e5e7eb;
    width: 300px;
}
.button{
    background-color: #3882f6;
    width: 75px;
    height: 25px;
    text-align: center;
    color: #e5e7eb;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
img{
    height: 200px;
    width: 400px;
}
.second{
    display: flex;
    justify-content: center;
    gap:40px;
    align-items: center;
    padding-bottom: 75px;
}
p{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;

}
.three{
    height: 200px;
    width: 150px;
    

}
.box{
    border: 2px solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 8px;
}
.subt{
    text-align: center;
}
.third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    gap: 10px;
    padding-bottom: 45px;
    background-color: #e5e7eb;
}
.extra{
    display: flex;
    flex-direction: column;

}
.four{
    height: auto;
    width: 700px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}
.five {
 align-self: self-end;
 font-weight: bolder;
 font-size: larger;
}